name: Deploy to S3 and CloudFront

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build and Deploy Next.js to S3
    runs-on: ubuntu-latest

    env:
      S3_BUCKET: molkky-app20251103132352959100000002
      CLOUDFRONT_DISTRIBUTION_ID: EBL4R85JLK7ZU

    steps:
      # 1. Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Set up Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # 3. Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4. Build and export Next.js app
      - name: Build Next.js app
        run: npm run build && npm run export

      # 5. Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1

      # 6. Deploy static files to S3
      - name: Deploy to S33
        run: |
          aws s3 sync ./out s3://$S3_BUCKET --delete

      # 7. Invalidate CloudFront cache
      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id $CLOUDFRONT_DISTRIBUTION_ID \
            --paths "/*"
